<br />
<% rounds.each do |round| %>

  <div id= "round-<%= round.id  %>" >
  <strong><center>Round-<%= round.number %>  Year <%= round.year %></center></strong>
  <br />
  <table class= 'table table-hover'>
    <thead class='table-inverse'>
      <tr>
        <th>Match Date</th>
        <th>Home Team</th>
        <th>Score Home</th>
        <th>Score Away</th>
        <th>Away Team</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render round.football_matches.order('match_date ASC') %>
    </tbody>
  </table>
  </div>
  <br />
  <br />
<% end %>
