<table>
  <thead>
    <tr>
      <th>Match Date</th>
      <th>Home Team</th>
      <th>Score Home</th>
      <th>Score Away</th>
      <th>Away Team</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render football_matches %>
  </tbody>
</table>
