<% rounds.each do |round| %>
 <strong><center>Round-<%= round.number %>  Year <%= round.year %></center></strong>
 <br />
  <table class= 'table table-hover'>
    <thead class='table-inverse'>
      <tr>
        <th>Match Date</th>
        <th>Home Team</th>
        <th>Score Home</th>
        <th>Score Away</th>
        <th>Away Team</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render round.football_matches %>
    </tbody>
  </table>
  <br />
  <br />
<% end %>
